<tr>
	<td><%= pin.description %></td>
	<td><%= link_to 'show', pin %></td>
	<% if current_user == pin.user %>
	<td><%= link_to 'edit', edit_pin_path(pin) %></td>
	<td><%= link_to 'destroy', pin, method: :delete, data: { confirm: 'you sure?' } %></td>
	<% end %>

</tr>