<div class="row">
	<div class="span2 offset1">
		<div class="well">
			<p>
  			<%= @pin.description %>
			</p>
				<%= link_to 'edit', edit_pin_path(@pin) %> |
				<%= link_to 'back', pins_path %>
		</div>
	</div>
</div>