<h1>about</h1>
<p>

	<%= link_to "Here are some hats!", "http://www.hats.com/" %>
	and there are plenty of images of
	<%= link_to "hats", "https://www.google.com/search?hl=en&site=imghp&tbm=isch&source=hp&biw=1102&bih=740&q=hats&oq=hats&gs_l=img.3..0l10.674.958.0.1043.4.4.0.0.0.0.85.306.4.4.0....0...1ac.1.24.img..0.4.304.Eq_J0bAQHyI" %>
	if you like.
</p>