<h1>about</h1>
<script type="text/javascript">var _kmq = _kmq || [];
var _kmk = _kmk || 'c3aaae5310c200e43c2d2b36002ed8765dfcb287';
function _kms(u){
  setTimeout(function(){
    var d = document, f = d.getElementsByTagName('script')[0],
    s = d.createElement('script');
    s.type = 'text/javascript'; s.async = true; s.src = u;
    f.parentNode.insertBefore(s, f);
  }, 1);
}
_kms('//i.kissmetrics.com/i.js');
_kms('//doug1izaerwt3.cloudfront.net/' + _kmk + '.1.js');
</script>
<p>
	<small>
	there's not much to see now but feel free to 
	<%= link_to "sign up", new_user_registration_path %>
	so that when we launch you'll be the first to know.
</small>
	<p>
		trust us, you're gonna love it.
	</p>
</p>