<h1>about</h1>
<p>
	<small>
	right now we're two guys with a vision, and a shred of technical expertise. there's not much to see now but feel free to 
	<%= link_to "sign up", new_user_registration_path %>
	so that when we launch you'll be the first to know.
</small>
	<p>
		trust us, you're gonna love it.
	</p>
</p>