<div class="hero-unit">
	<h1>hi.</h1>
	<p>now presenting
		<%= link_to "Google", "http://google.com" %>
	</p>
	<p>
			<%= link_to "enroll", new_user_registration_path, class: "btn btn-warning btn-medium" %>
	</p>
</div>