<div class="hero-unit">
	<h1>hi.</h1>
	<p>now presenting
		<%= link_to "Google", "http://google.com" %>
	</p>
	<p>
			<%= link_to "enroll", "https://accounts.google.com/SignUp?service=mail", class: "btn btn-warning btn-medium" %>
	</p>
</div>