<h1>Welcome!</h1>
<p>You found the page for the
	<%= link_to "Google", "www.google.com" %>
</p>

<p>
		<%= link_to "Sign Up Now!", "https://accounts.google.com/SignUp?service=mail" %>
</p>

<div class="footer">
	<small>
		by <%= link_to "Steve Medina", "https://www.vizify.com/steve-medina" %>
	</small>
	</div>